.container{
    display:flex;
    background-color:lightpink;
    flex-direction: column;
}
.box{
    width: 100px;
    height: 100px;
    background-color:aquamarine;
    color: rgb(11, 10, 13);
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    line-height: 25px;
}